* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
    transition: width none;
}

body {
    background-image: url(/assets/images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    overflow-x: hidden;
    margin-bottom: 70px;
}

.header {
    position: relative;
    margin-bottom: 72px;
}

.header .header-1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: url('/assets/images/navbar.png');
    background-size: contain;
    display: flex;
    justify-content: space-between;
    padding: 15px 2%;
    align-items: center;
    z-index: 5;
    -webkit-filter: drop-shadow(0 2px 5px #070506);
    filter: drop-shadow(0 2px 5px #070506);
}

.header .header-1 .logo img {
    width: 180px;
    position: absolute;
    bottom: -97px;
    -webkit-filter: drop-shadow(5px 5px 5px #070506);
    filter: drop-shadow(5px 5px 5px #070506);
}

.header .header-1 .search-form {
    width: 300px;
    height: 40px;
    border: 4.5px solid var(--primary);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background: transparent;
    padding: 2px 0;
}

.header .header-1 .search-form input {
    width: 100%;
    height: 100%;
    padding: 19.2px;
    color: var(--primary);
    background-color: transparent;
}

.header .header-1 .search-form label {
    padding-right: 19.2px;
    font-size: 21px;
    cursor: pointer;
    color: #fff;
}

.header .header-1 .search-form label:hover {
    color: var(--yellow);
}

.header .header-1 .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-1 .icons .search-form {
    padding: 0 10px;
}

.header .header-1 .icons div,
.header .header-1 .icons a {
    font-size: 18px;
    text-decoration: none;
    margin-left: 10px;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    padding: 8px;
    border-radius: 50%;
    border: 4.5px solid var(--primary);
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
    color: var(--primary);
    border: 4.5px solid #fff;
}

#search-btn {
    display: none;
}

#navbar {
    display: none;
}

.menu .container .row {
    display: flex;
    justify-content: center;
}

.menu .container .row .col-md-1 {
    width: 100px;
}

.custom-navbar {
    text-align: center;
    background-color: var(--primary);
    position: fixed;
    top: 72px;
    right: 0;
    left: 0;
}

.custom-navbar a {
    color: var(--yellow);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.custom-navbar a:hover {
    background: var(--black);
    color: var(--primary);
}

.banner {
    width: 100%;
    height: 500px;
    margin-bottom: 200px;
}

.banner .images a img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.title {
    background: var(--black);
    color: var(--primary);
    text-align: center;
    padding: 5px 0;
    margin-bottom: 20px;
    border-radius: 50px;
    font-weight: 700;
}

.card {
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: var(--black);
    width: 100%;
}

.card-img {
    width: 100%;
    height: 7vw;
    padding: 10px;
}

.card h1 {
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.card:hover {
    transform: scale(1.2);
}